<div class="login_wrapper">
    <h3>User Login</h3>
    <div class="form_container">
        <form name="loginForm">
            <div class="form_group">
                <input type="text" class="login_textbox" placeholder="Username"/>
            </div>
            <div class="form_group">
                <input type="password" class="login_textbox" placeholder="Password"/>
            </div>
            <div class="form_group">
                <button type="button" routerLink="/dashboard" class="login_btn">Login</button>            
            </div>
        </form>
    </div>
</div>